html{
    background-color:rgb(17,103,110);

    
}
html::after,
html::before {
    content: '';
    position: fixed;
    display: block;

    background-color:rgb(25,162,174);
    border-radius: 50%;
    width: 300px;
    height: 300px;

}


html::before{
    top: -50px;
    left: -100px;
}

html::after{
    bottom:-100px ;
    right: -100px;
}

body{
    min-height: 100vh;

    display: grid;
    place-items: center;
    margin: 0;
    font-family: sans-serif;
}

.card{
    width: 250px;
    height: 350px;
    background: whitesmoke;
}
.card__header{
    background-image: url(../profile-card-component-main/images/bg-pattern-card.svg);
    height: 120px;
    position: relative;

}
.card__image{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    border:  3px solid white;
    background-color: whitesmoke
    ;

}

.card__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ;
    height: 135px;
    padding-top: 10px;
   
}

.card__text{
    margin: 0;
    line-height: 1.5;
    margin-top: 20px;
 
}

.card__footer{
    display: flex;
    justify-content: space-between;
    border: .5px solid grey;
}

.card__stats{
    background-color: red;
    width: 100%;
    text-align: center;
}

.card__number{
    display: flex;
    flex-direction: colum;
    font-weight: bold;
}