@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/******COLORS******/
:root {
  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --darkGrayishBlue: hsl(227, 10%, 46%);
  --darkGray: hsl(0, 0%, 59%);
  --whiteSmoke: white;
  font-family: "Kumbh Sans", sans-serif;
  --ft:400;
  --fw:700;
}

html {
  background-color: var(--darkCyan);
}

html ::before,
html ::after {
  content: "";
  display: block;
  z-index: -2;
  position: fixed;
  width: 100vh;
  height: 100vh;
  background-size: cover;
  -webkit-filter: opacity(5%);
          filter: opacity(5%);
}

html ::before {
  background-image: url(../images/bg-pattern-top.svg);
  left: -70vh;
  top: -50vh;
}

html ::after {
  background-image: url(../images/bg-pattern-bottom.svg);
  bottom: -50vh;
  right: -70vh;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  height: 2rem;
  position: absolute;
  bottom: 0%;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 768px) {
  html ::before,
  html ::after {
    width: 100vw;
    height: 100vw;
  }
  html ::before {
    left: -50vw;
    top: -75vw;
  }
  html ::after {
    right: -50vw;
    bottom: -75vw;
  }
}

/******CARD******/
.card {
  width: 325px;
  height: 375px;
  background-color: var(--whiteSmoke);
  border-radius: 1rem;
  overflow: hidden;
}

.card__header {
  background-image: url(../images/bg-pattern-card.svg);
  height: 140px;
  position: relative;
}

.card__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  border-radius: 50%;
  border: 5px solid var(--whiteSmoke);
  background-color: var(--whiteSmoke);
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 140px;
  border-bottom: thin solid var(--darkGray);
}

.card__text {
  margin: 0;
  margin-top: 80px;
}

.card__text:last-child {
  margin-top: 10px;
}

.card__text--title {
  font-weight: 700;
  color: var(--veryDarkDesaturatedBlue);
  font-size: large;
}

.card__text--title--light {
  font-weight: var(--ft);
  color: var(--darkGray);
}

.card__text--subtitle {
  font-size: small;
  font-weight: var(--ft);
  color: var(--darkGray);
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__footer--subtitle {
  font-size: x-small;
  font-weight: var(--ft);
  color: var(--darkGray);
}

.card__stats {
  text-align: center;
  line-height: .2rem;
  margin-top: 1.5rem;
}
/*# sourceMappingURL=style.css.map */